  label {
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    opacity: 0;
    width: 0.01px;
    height: 0.01px;
  }
  
  body {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    margin: 50px 0;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .swipe-off, .swipe-on, .switches-swipe {
    user-select: none;
  }
  
  .switches-label {
    max-width: 500px;
    width: 95%;
    margin: 50px auto 0;
    border-radius: 5px;
    color: #e8e9ed;
    background: #18172c;
  }
  
  .switches-label label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  
  .switches-label label > .switches-swipe {
    position: relative;
    width: 59px;
    height: 26px;
    border-radius: 15px;
    background: #434257;
    transition: 0.3s;
    font-size: 12px;
  }
  
  .switches-label input[type="checkbox"]:focus + label > .switches-swipe {
    box-shadow: 1px 1px 11px 1px red;
  }
  
  .switches-swipe span {
    margin-left: 10px;
    margin-top: 6px;
    display: inline-block;
  }
  
  .switches-label > input[type="checkbox"]:checked + label > .switches-swipe > .swipe-on {
    opacity: 1;
  }
  
  .switches-label > input[type="checkbox"]:checked + label > .switches-swipe > .swipe-off {
    opacity: 0;
  }
  
  .switches-label > input[type="checkbox"]:not(:checked) + label > .switches-swipe > .swipe-on {
    opacity: 0;
  }
  
  .switches-label > input[type="checkbox"]:not(:checked) + label > .switches-swipe > .swipe-off {
    opacity: 1;
  }
  
  .switches-label .switches-swipe:before {
    content: "";
    position: absolute;
  }
  
  .switches-swipe:before {
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: #e8e9ed;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
  }

  
  .switches-label [type="checkbox"]:checked + label > .switches-swipe {
    background: #00d084;
  }
  
  .switches-label [type="checkbox"]:checked + label > .switches-swipe:before {
    transform: translateX(34px);
  }
  
  .switches-label [type="checkbox"]:checked + label > .switches-swipe:after {
    width: 14px;
    height: 14px;
    left: 8px;
  }

  .swipe-off {
    display: inline;
  }

  .switches-label > input[type="checkbox"] + label > .switches-swipe > .swipe-off {
      display: inline;
      margin-left: 0px;
  }
